<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>voxelMap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFD63BA4235DC5A1006DF3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD63BBA235DC5A3006DF3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFD63BC5235DC5A3006DF3EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
